.dataContent div > ul li{
    width:24.8%;
}
.dataShowList {
    top: 0;
    visibility: visible;
}

.amc_popup,.amc_popup_content{
    /*display: block;*/
}
.classTypeName{
    width: 60.06%;
    height: 24px;
    line-height: 24px;
    padding-left: 4%;
    margin-left: 5%;
    background: #f4f7f8;
    border-radius: 3px;
    border: none;
}

.amc_popup_content .classTypeTitle{
    width: 100%;
    font-size: 12px;
    color: red;
    position: absolute;
    top:30px;
    left: 0;
}

.newClassType{
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background: #00aaef;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 16px 20px;
    float: right;
    cursor: pointer;
    position: relative;
}
.newClassType:active{
    top: 1px;
    left: 1px;
    opacity: .8;
}
.searchGroups .input-group .inputGroups{
    width: 280px;
    margin-left: 20px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    margin-left: 10px;
}


.classUse{
    color:#00aaef;
    cursor: pointer;
}
.classForbid{
    color:#eb6100;
    cursor: pointer;
}


.classTypeQueryBtn{
    width: 120px;
    height: 24px;
    line-height: 24px;
    background: #00aaef;
    border-radius: 3px;
    color: #fff;
    border: none;
    position: relative;
    margin-left: 60px;
}
.classTypeQueryBtn:active{
    left: 1px;
    top: 1px;
    opacity: .8;
}

.lookOver .delete-btn{
    background:#eb6100 ;
}