#supplementBox{
    width: 96%;
    position: relative;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
}
.supplementHeader{
    width: 100%;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: left;
    background: #fbfbfc;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
#supplementBox > ul >li{
    clear: both;
    width: 100%;
    font-size: 14px;
    color: rgba(0,0,0,.7);
    margin: 30px 0;
    position: relative;
}
#supplementBox > ul >li > span{
    display: inline-block;
    width: 10%;
    text-align: right;
    margin-right: 3%;

}
#supplementBox > ul >li textarea{
    width: 575px;
    height: 128px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 5px;
}

.imagesShow{/*图片展示*/
    margin-left:13% ;
    margin-bottom: 30px;
    overflow: hidden;
    width:560px;
}
.imagesShow ul{
    margin-top: -20px;
}
.imagesShow ul li{
    float: left;
    width: 160px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}
.imagesShow ul li:nth-child(3n+1){
    margin-left:3px;
}
.imagesShow ul li img{
    width: 100%;
    height: 100%;
}
.removeBtn{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.number{
    position: absolute;
    right: 2px;
    bottom: -7px;
}

.inputImages,.inputImage{
    width: 90px;
    height: 30px;
    background:#00aaf0 ;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.inputImage{
    position: absolute;
    left: 13%;
    top: 0;
    width: 94px;
    opacity: 0;
    cursor: pointer;
}
.inputTip{
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}
.inputImageHover{
    cursor: not-allowed;
}

.supplement{/*保存按钮*/
    width: 148px;
    height: 30px;
    background:#00aaf0 ;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.supplement:active{
    opacity: .8;
}





/*新建团课课程*/